<style type="text/css">

.headingname {
	color: white;
}

.heading {
	font-family: font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #ffffff;
}

#mainbiopic {
	width: 250px;
	height: 250px;
}

.aboutme {
	padding-left: 45px;
	color: #4aaaa5
}

body {
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 40px;
	margin-bottom: 0px;
	background-image: url(assets/images/organic-tiles.png)
}

li {
	float: right;
	padding: 8px;
}


ul {
list-style-type: none;
margin: 0;
padding: 0;
size: 270px;
top: 600px;
background-color: #ffffff;
}

#mainbio {
	width: 650px;
	height: 530px;
	padding-right: 70px;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 200%;
	border:1px solid #dddddd;
	background-color: #ffffff
	
}

.connect {
	position: relative;
	bottom: 532px;
	left: 770px;
	width: 200px;
	height: 150px;
	padding: 20px;
	border:1px solid lightgrey;
	background-color: #ffffff;
	z-index: 4;
}
.pic {
	border-color: black;

}

#Biography {
	 padding-left: 45px
}

#line {
	border: 2px solid #4aaaa5
}

#footer {
	text-align: center;
	background-color: #666666;
	height: 100px;
}

</style>